header {
  top: 0;
  left: 0;
  width: 100%;
  height: 11.9rem;
  position: fixed;
  background-color: $purple;
  display: flex;
  z-index: 2023;
  .container {
    @include flex(row, center, space-between);
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      gap: 5.6rem;
      li {
        a {
          display: flex;
          align-items: center;
          gap: 1.6rem;
          span {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: $white;
          }
        }
      }
    }
  }

  @include responsive(600px){
    nav {
      display: none;
    }
    .container {
      justify-content: center;
    }
  }
  @include responsive(480px){
    height: 8rem;
    .logo {
      max-width: 14rem;
    }
  }
}
