* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  font-size: 1.6rem;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%; /*Responsividade*/
  display: block;
}

html {
  font-size: 62.5%;
  /* 1rem == 10px
  1.6rem == 16px */
}

button {
  cursor: pointer;
  background-color: transparent;
}
