/* Header styles */

header {
  top: 0;
  width: 100%;
  z-index: 2023;
  display: flex;
  height: 8.8rem;
  position: fixed;
  background-color: var(--gray-colors-800);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

header nav ul {
  gap: 3.2rem;
  display: flex;
}

header nav .btn-primary {
  padding: 0.9rem 3.4rem;
}

header .menu-mobile {
  display: none;
}

/* S-hero styles */

.s-hero {
  padding: 7.2rem 0rem;
  margin-top: 8.8rem;
}

.s-hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s-hero .text {
  width: 100%;
  max-width: 64rem;
}

.s-hero .text h1 {
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 125%;
  letter-spacing: -1px;
  color: var(--gray-colors-100);
}

.s-hero .text p {
  font-size: 1.8rem;
  line-height: 150%;
  max-width: 48.8rem;
  margin-bottom: 5.6rem;
  color: var(--gray-colors-300);
}

.s-hero .text .btn-primary {
  padding: 1.7rem 3.7rem;
}

.s-hero .image {
  width: 100%;
  display: flex;
  height: 49.6rem;
  max-width: 48.8rem;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-colors-800);
}

/* featured cards styles */

.s-card-featured {
  background-color: var(--gray-colors-100);
  padding-top: 10.4rem;
  padding-bottom: 12rem;
}

.s-card-featured .main-area {
  padding-bottom: 12.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.s-card-featured .tittle {
  display: flex;
  flex-direction: column;
}

.s-card-featured .tittle.center {
  align-items: center;
}
.s-card-featured .tittle p {
  margin-top: 0.8rem;
}

.s-card-featured p {
  color: var(--white-colors-text);
}

.s-card-featured .all-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 4.8rem;
}

.s-card-featured .all-cards .card {
  width: 100%;
  max-width: 38.4rem;
  height: 38.2rem;
  background-color: rgba(28, 29, 31, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.4rem;

  transition: transform 0.3s;
}

.s-card-featured .card:hover {
  transform: scale(1.07);
}

.s-card-featured .all-cards .card.white {
  background-color: var(--white);
}

.s-card-featured .all-cards .card.white h3 {
  color: var(--gray-colors-100);
}

.s-card-featured .all-cards .card.white p {
  color: var(--gray-colors-300);
}

.s-card-featured .all-cards .card .info {
  margin-top: 4rem;
  max-width: 28.8rem;
}

.s-card-featured .all-cards .card .info h3 {
  text-align: center;
}
.s-card-featured .all-cards .card .info p {
  line-height: 150%;
  text-align: center;
  margin-top: 0.8rem;
}

.s-card-featured .second-area {
  margin-top: 11.2rem;
}

.s-card-featured .second-area .top {
  display: flex;
  align-items: center;
  margin-bottom: 6.4rem;
  justify-content: space-between;
}

.s-card-featured .second-area .all-imgs {
  gap: 3.2rem;
  display: flex;
  flex-wrap: wrap;
}

.s-card-featured .second-area .all-imgs .image {
  display: flex;
  height: 11.2rem;
  width: 17.6rem;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-colors-200);

  transition: transform 0.3s;
}

.s-card-featured .second-area .all-imgs .image:hover {
  transform: scale(1.07);
}

/* Newstalatter styles  */

.s-newslatter {
  background-color: var(--gray-colors-200);
  padding: 15.2rem 0rem;
}

.s-newslatter .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-newslatter h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.s-newslatter p {
  color: var(--white-colors-text);
  margin-bottom: 4rem;
  max-width: 69.4rem;
  text-align: center;
}

.s-newslatter .btn-primary {
  padding: 1.75rem 4.1rem;
}

/* Footer styles  */

footer {
  padding-top: 8.8rem;
  padding-bottom: 3.9rem;
  background-color: var(--gray-colors-100);
}

footer main {
  display: flex;
  padding-bottom: 7.2rem;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

footer main .left-area {
  max-width: 28.1rem;
}

footer main .left-area p {
  font-size: 1.4rem;
  line-height: 150%;
  margin-top: 3.5rem;
  color: var(--white-colors-text);
}

footer main nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 77.7rem;
}

footer main nav .item h6 {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.1rem;
  color: var(--white);
  margin-bottom: 2.4rem;
}

footer main nav .item ul li a {
  font-family: "Sora", sans-serif;
  line-height: 105%;
  font-size: 1.4rem;
  color: var(--white-colors-text);

  transition: color 0.3s;
}

footer main nav .item ul li a:hover {
  color: var(--white);
}

footer main nav .item ul li:last-child {
  margin-bottom: 0;
}

footer main nav .item ul li {
  margin-bottom: 3.2rem;
}

footer main nav .item:last-child ul li a {
  gap: 0.8rem;
  display: flex;
  align-items: center;
}

footer .copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.1rem;
}

footer .copy p {
  color: var(--white);
}

footer .copy .group span {
  color: var(--white);
  margin-right: 0.8rem;
}

footer .copy .group {
  display: flex;
  align-items: center;
}
